/*This file contains all the styles included in the site, it overwrites the bootstrap styling so that if we wanted to change the colour it was easier to just overwrite the original class and create our own*/
body {
    background-color: rgba(54, 55, 56, 0.85);
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
    padding: 65px;
    color: #fff;
}

.teamtext {
    font-family: 'Roboto', sans-serif;
}

.login-box {
    display: none;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}

.signup-box {
    display: none;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;

}

.message-box {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #343333;
    background-color: rgba(252, 248, 248, 0.54);
    border-color: #656565;

}
.img-circle {
    border: 3px solid #E8F332;
}

.team-background {
    margin-bottom: 30px;
    border-radius: 7px;
    margin-top: 10px;
}


#dismiss {
    cursor: pointer;
}

.about {
    border: 3px solid #996DF6;
    padding: 2%;
    margin: 10px;
    text-align: justify;
}

.team {
    margin-bottom: 40px;
}

.carousel {
    margin-bottom: 30px;
    margin-top: 20px;
}

.loginbtn {
    margin: 30px 0;

}

.jumbotronlogin {
    padding-top: 5px;
    padding: 10px 5px;
    color: #797779;
    background-color: #eee;
    border-radius: 7px;
}

.jumbotronsignup {
    padding-top: 5px;
    padding: 10px 5px;
    color: #797779;
    background-color: #eee;
    border-radius: 7px;
}

.post {
    color: #c97878;
}

.logo {
    width: 50px;
    height: 50px;
}


.box1 {
    background: #464646;
    float: right;
    margin-bottom: 15px;
    border: 3px solid #2ABA93;
    padding: 10px;
    opacity: 0.7;
    min-width: 100%;
    clear: right;
    border-radius: 7px;
}

.search {
    float: left;
    margin-bottom: 15px;
    padding: 10px;
    min-width: 100%;
    clear: both;
}

.box1:hover {
    opacity: 1.0;
}


.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
}

.closered {
    color: red;
}

.logocolour {
    color: #FF5028;
    font-size: 25px;
    font-weight: 300;
}

.time_ago {
    opacity: 0.7;
    float: right;
    color: #FF5028;

}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 100%);
  background-image:      -o-linear-gradient(left, rgba(255, 255, 255,) 0%, rgba(255, 255, 255) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255)), to(rgba(255, 255, 255)));
  background-image:         linear-gradient(to right, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 100%);
  background-image:      -o-linear-gradient(left, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255)), to(rgba(0, 0, 0)));
  background-image:         linear-gradient(to right, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}