body {

    background-image: url('../images/geometry2.png');
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;   
}

.teamtext {
    font-family: 'Montserrat', sans-serif;
}

.login-box {
    display: none;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;  
    border-radius: 7px;
}

.signup-box {
    display: none;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    border-radius: 7px;
   
}

.message-box {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    padding-top: 5px;
    height: 80px;
    color: #797779;
    background-color: #eee;
    border: 3px solid #996DF6;
    padding-top: 10px;
    padding: 10px 5px;
    border-radius: 7px;

}

.team-background {
    background: rgba(128, 0, 128, 0.17);
    margin-top: 65px;
    border: 3px solid #996DF6;
    margin-bottom: 30px;
    border-radius: 7px;
}


#dismiss {
    cursor: pointer;
}

.about{
    border: 3px solid #996DF6;
    padding: 2%;
    margin: 10px;
    text-align: justify;
}

.team {
    margin-bottom: 40px;
}

.carousel {
    margin-bottom: 30px;
    margin-top: 70px;
}

.loginbtn {
    margin: 30px 0;

}

.jumbotronlogin {
    padding-top: 5px;
    padding: 10px 5px;
    color: #797779;
    background-color: #eee;
    border-radius: 7px;
}

.jumbotronsignup {
    padding-top: 5px;
    padding: 10px 5px;
    color: #797779;
    background-color: #eee;
    border-radius: 7px;
}

.post {
    color: #c97878;
}

.logo {
    width: 50px;
    height: 50px;
}


.box1 {
    background: #dfdfdf;
    float: left;
    margin-bottom: 15px; 
    border: 3px solid #996DF6;
    padding: 10px;
    opacity: 0.7;
    min-width: 100%;
    clear: both;
    border-radius: 7px;
}

.box1:hover {
    opacity: 1.0;
}


.search {
    background: #dfdfdf;
    float: left;
    margin-bottom: 15px; 
    border: 3px solid #996DF6;
    padding: 10px;
    opacity: 0.7;
    min-width: 100%;
    clear: both;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;   
}

.closered {
    color: red;
}

.logocolour {
    color: #996DF6;
    font-size: 25px;
}